{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Django Eccommerce{% endblock %}

{% block extrastyle %}
    <style>
        #header{
            background-color:#64bef5;
            color: #50504f;

        }
        #branding h1{
            font-size:28px;
            font-weight:600;
        }

        #branding h1, #branding h1 a:link, #branding h1 a:visited {
            color:#50504f;
        }

        .module h2, .module caption, .inline-group h2{
            background-color: #009ce8;
            font-size:18px;

        div.breadcrumbs{
            background:#1c96e0;
        }
        }
    </style>
{% endblock %}


{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Django Eccommerce</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}